<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Devastator Mission Control Centre</title>

    <!-- JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- JQUERY UI -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    
    <link href="//vjs.zencdn.net/4.10/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.10/video.js"></script>

     <script>
      $(function() {$( "#slider" ).slider();});
    </script>

  </head>
  <body>

    <div class="page-header">
      <h1>Devastator 2.0 <small>Exterminate! Exterminate!</small></h1>
    </div>

    <button id="CamReset" type="button" class="btn btn-default">Reset cam position</button>
    <div id="xpos"></div>
    <div id="ypos"></div>


    <script>
        $(function(){
            $('#CamReset').on('click', function(e){
                e.preventDefault(); // preventing default click action
                $("#xpos").slider({value: 0});
                $("#ypos").slider({value: 0});
            })
        })

      // X SLIDER
      $(function () {
        $("#xpos").slider({
            min: -90, max: +90,
            slide: function (event, ui) {
                $("input#slider_value").val(ui.value);
            }
        });
      });

      $("#xpos").slider({
        change: function(event, ui) {
          $.ajax({
              url: '/cam/set',
              type: 'POST',
              data: {'xvalue': ui.value},
              success: function(){
                  // ajax callback
              }, error: function(){
                  alert('ajax failed');
              },
          })
      }
      });

      // Y SLIDER
      $(function () {
        $("#ypos").slider({
            min: -90, max: +90, orientation: "vertical",
            slide: function (event, ui) {
                $("input#slider_value").val(ui.value);
            }
        });
      });

      $("#ypos").slider({
        change: function(event, ui) {
          $.ajax({
              url: '/cam/set',
              type: 'POST',
              data: {'yvalue': ui.value},
              success: function(){
                  // ajax callback
              }, error: function(){
                  alert('ajax failed');
              },
          })
      }
      });

    </script>

    <video id="video" controls width="320" height="240" class="video-js vjs-default-skin">
          <source src="/stream/latest" type="video/mp4" />
    </video>

    <script>
      videojs("video").ready(function(){
        var myPlayer = this;
        myPlayer.on("ended", function(){
          myPlayer.src("/stream/latest");
          myPlayer.play();
        })
      });
    </script>

  </body>
</html>
