<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Devastator Mission Control Centre</title>

    <!-- JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script type="text/javascript">
      var parameters = { src: "rtmp://" + window.location.hostname + "/rtmp/live" };

      swfobject.embedSWF
      ( "/static/StrobeMediaPlayback.swf"
      , "strobeMediaPlayback"
      , 640
      , 480
      , "10.1.0"
      , {}
      , parameters
      , { allowFullScreen: "true"}
      , { name: "strobeMediaPlayback" }
      );
    </script>
    <style>
.circle {
  fill: green;
  fill-opacity: 0.3;
  stroke: black;
  stroke-width: 4;
  stroke-opacity: 0.6;
}

#controls {
  width: 320px;
  height: 240px;
  border: solid black 1px;
  background-color: red;
}

#logWindow {
  border:solid black 1px;
  background-color: gray;
  height: 10em;
  width: 20em;
  overflow: scroll;
  overflow-x: hidden;
}
    </style>
    <script>
        "use strict";

        var log = {
          info: function(msg) {
            d3.select("#logWindow")
            .insert("div", "*")
            .text(msg);
          }
        }

        function Joystick(svg) {
          this.svg = svg;
          this.pos = undefined;
          this.center = undefined;
          this.circle = undefined;
          this.touch = undefined;
          this.diameter = 100;
          this.timerEvent = undefined;
          this.updateFreq = 2;  // in Hz
          this.value = [0.0, 0.0];
          this.canSend = undefined;
        }

        Joystick.prototype.constructor = Joystick;
        Joystick.prototype.constructor.prototype.toString = function() {
          return "Joystick";
        }


        Joystick.prototype.start = function(pos) {
          this.stop();  // reset everything;
          this.pos = pos;
          this.canSend = true;
          this.center = this.svg.append("circle")
            .attr("cx", pos[0])
            .attr("cy", pos[1])
            .attr("r", 2)
          ;

          // TODO: move properties to CSS
          this.circle = this.svg.append("circle")
            .attr("class", "circle")
            .attr("cx", pos[0])
            .attr("cy", pos[1])
            .attr("r", this.diameter)
          ;

          this.touch = this.svg.append("circle")
            .attr("cx", pos[0])
            .attr("cy", pos[1])
            .attr("r", 5)
          ;


          var joystick = this
          this.svg.on("mousemove", function() {
            joystick.update(d3.mouse(this))
          });

          this.timerEvent = setInterval(this.onTimer.bind(this),
                                        1.0/this.updateFreq*1000);
        }


        // TODO: rename to sendUpdate
        Joystick.prototype.onTimer = function() {
          if (!this.canSend) {
            log.info("previous message not ACKed, throttling timer")
            return;
          }
          log.info("timer fired");
          this.canSend = false;
          var joystick = this
          var data = JSON.stringify(joystick.value)
          log.info("sending " + data)
          d3.xhr("/cam/set")
            .header("Content-Type", "application/json")
            .post(data, function(err, resp) {
              if (err) {
                log.info("request error: " + err.status + " " + err.statusText);
                joystick.stop()
                return
              }
              joystick.canSend = true;
              log.info("got control response: " + resp);
            });
        }


        Joystick.prototype.update = function(pos) {
          var dx = pos[0] - this.pos[0];
          var dy = pos[1] - this.pos[1];
          var r = Math.sqrt(dx*dx + dy*dy);
          if (r > this.diameter) {
            var factor = r / this.diameter;
            dx = dx / factor;
            dy = dy / factor;
          }

          // '-' because we invert Y axis
          this.value = [dx/this.diameter, -dy/this.diameter];

          this.touch
            .attr("cx", this.pos[0] + dx)
            .attr("cy", this.pos[1] + dy)
          ;
        }


        Joystick.prototype.stop = function() {
          clearInterval(this.timerEvent);
          // TODO: put widgets into separate hierarchy?
          if (this.center) { this.center.remove(); }
          if (this.circle) { this.circle.remove(); }
          if (this.touch)  { this.touch.remove();  }
          this.pos = undefined;
          this.value = [0.0, 0.0];
          // immediately notify server that joystick was released
          this.onTimer(); // TODO: check if it works
          this.svg.on("mousemove", null);
        }



        $(function() {
          log.info("started!");
          var svg = d3.select("#controls");
          var joystick = new Joystick(svg);
          svg
            .on("mousedown", function() {
              d3.event.preventDefault();
              joystick.start(d3.mouse(this));
            })
            .on("mouseup", function() {
              joystick.stop();
            })
            .on("mouseleave", function() {
              joystick.stop();
            })
          ;
        })
    </script>
  </head>

  <body>
<!--
    <div class="page-header">
      <h1>Devastator 2.0 <small>Exterminate! Exterminate!</small></h1>
    </div>
    <button id="CamReset" type="button" class="btn btn-default">
      Reset cam position
    </button>
    <div id="strobeMediaPlayback">
      <p>Here supposed to be a video player. Flash blocked or not supported?</p>
    </div>
    <br>
 -->
    <svg id="controls"></svg>
    <br>
   <div id="logWindow"></div>
  </body>
</html>
